#container {
   position: relative;
   z-index: 0;
   border: 1px solid black;
}

#background {
    position: absolute;
    width: 800px;
    height: 600px;
}

#charizard {
    position: absolute;
    width: auto;
    height: 500px;
    left: 210px;
    top: 90px;
    filter: drop-shadow(-0.1rem 0.2rem 0.2rem rgba(213, 16, 16, 0.898));
}

#breath {
    position: absolute;
    width: 100px;
    top: 100px;
    left: 360px;
    transform: rotate(45deg);
    transform-origin: 90% 50%;

}

#breath:hover {
    position: absolute;
    scale: 300%;
    transition-duration: 1s;
}

#tail {
    position: absolute;
    width: 100px;
    top: 315px;
    left: 634px;

}